.tab-item {
  list-style-type: none;
  background-color: transparent;
  margin: 0px 15px 0px 0px;
}
.btn {
  font-family: 'Roboto';
  color: #9aa5b1;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.active-tab-btn {
  border-bottom: 2px solid #0b69ff;
  color: #3e4c59;
}

.tab-text {
  color: #7b8794;
  font-family: 'Roboto';
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
}
